.FooterText {
  font-size: 1rem !important;
  margin: 0 2em;
}

.Footer {
  background-color: rgba(218,165,32, 0.6) !important;
  border: transparent groove medium;
  flex-shrink: 0;
  height: 4em;
  overflow: hidden;
  -webkit-transition: background-color 0.2s linear 0.2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.2s linear 0.2s;
  width: 100%;

}

.Footer:hover {
  background-color: rgba(218,165,32, 0.9) !important;
}
