.Input {
  background-color: rgba(0, 0, 0, 0.09);
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.3) 3px;
  color: black;
  font-size: 1em;
  padding: 1em 1em;
  width: 200px;
}

.Input:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: solid rgba(218, 165, 32, 0.7) 3px;
  outline: none;
}

Input::placeholder {
  opacity: 1;
  transition: opacity .1s ease;
}

Input.active::placeholder {
  opacity: 0;
  transition: opacity .1s ease;

}

label {
  opacity: 1;
}

label.faded-label {
  opacity: 1;
}
